/* PRESETS */
:root[data-theme="light"] {
    --text: #010104;
    --background: #d7ddf9;
    --primary: #102275;
    --secondary: #c9d1f8;
    --accent: #1d3fd7;
    --selected: #ca3550;
}

:root[data-theme="dark"] {
    --text: #fbfbfe;
    --background: #060c28;
    --primary: #8a9def;
    --secondary: #070f36;
    --accent: #284ae2;
    --selected: #b80b28;
}

* {
	color: var(--text);
	font-family: 'Space Mono', monospace;
	scroll-behavior: smooth;
	scroll-padding-top: 7.5rem;
	box-sizing: border-box;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

html,
body {
	overflow-y: hidden;
	margin: 0;
	padding: 0;
	background-color: var(--background);
	position: relative;
}

main {
	height: calc(100vh - 5rem);
	width: 100vw;
	top: 0;
	position: relative;
	padding: 2.5rem;
	background-color: var(--borderColor);
}

::selection {
	background-color: var(--accent);
}

button,
a {
	cursor: pointer;
}

/* HEADER */
.betterHeader {
	font-family: 'Mulish', sans-serif;
}

.betterHeader .headerSpaceholder {
	height: 5rem;
	width: 100%;
	position: relative;
}

.betterHeader .realHeader {
	background-color: var(--primary);
	height: 5rem;
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: right;
	align-items: center;
	flex-wrap: nowrap;
	z-index: 5;
}

.betterHeader .logoLink {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-left: 1rem;
	text-decoration: none;
	left: 0;
	padding: 0.05rem 0.5rem;
	position: absolute;
	z-index: 2;
	border-radius: 10px;
	outline: 0px solid black;
	transition: transform 0.3s ease-in-out, outline 0.3s ease-in-out, outline-offset 0.3s ease-in-out;
	outline-offset: -10px;

	color: var(--text);
}

.betterHeader .logoLink svg {
	position: relative;
	height: 2rem;
	width: 2rem;
	margin-right: 0.25rem;
	transition: fill 0.3s ease-in-out;
	fill: var(--secondary);
}

.betterHeader .logoLink h2 {
	position: relative;
	color: var(--secondary);
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: max(1.2rem, 3.15vw);
	font-family: 'Mulish', sans-serif;
	margin: 0;
	margin-bottom: 0.125rem;
}

.betterHeader .logoLink:hover {
	transform: scale(1.1);
}

.betterHeader .logoLink:hover h2 {
	color: var(--selected);
}


.betterHeader .logoLink:hover svg {
	fill: var(--selected);
}


.betterHeader .logoLink:focus-visible {
	outline: 2px solid var(--selected);
	outline-offset: 5px;
	transform: scale(1.1);
}

.betterHeader .logoLink:focus-visible h2 {
	color: var(--selected);
}


.betterHeader .logoLink:focus-visible svg {
	fill: var(--selected);
}

.betterHeader .navBar {
	display: flex;
	justify-content: right;
	align-items: center;
	margin: 0rem 1rem;
	position: relative;
	height: 100%;

	background-color: var(--primary);
}

.betterHeader .navBar .distanceChecker {
	position: relative;
	height: 100%;
	width: 2rem;
	opacity: 0;
}

.betterHeader .navBar .spaceHolder {
	position: relative;
	display: flex;
	justify-content: right;
	align-items: center;
}

.betterHeader .navBar .spaceHolder .openNav {
	position: absolute;
	width: max(1.2rem, 3.5vw);
	height: max(1.2rem, 3.5vw);
	background-color: transparent;
	border: none;
	cursor: pointer;
	border-radius: 100%;
	outline: 0px solid black;
	outline-offset: -10px;
	transition: transform 0.3s ease-in-out, outline 0.3s ease-in-out, outline-offset 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.25rem;
}

.betterHeader .navBar .spaceHolder .openNav svg {
	position: absolute;
	height: 100%;
	width: 100%;
	transition: fill 0.3s ease-in-out;
	fill: var(--secondary);
	outline: 0px solid black;
	outline-offset: -10px;
	border-radius: 100%;
	transition: transform 0.3s ease-in-out, outline 0.3s ease-in-out, outline-offset 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.betterHeader .navBar .spaceHolder .openNav .hamburger {
	opacity: 1;
}

.betterHeader .navBar .spaceHolder .openNav .close {
	opacity: 0;
}

.betterHeader .navBar .spaceHolder .openNav:hover svg {
	fill: var(--selected);
	transform: scale(1.1);
}

.betterHeader .navBar .spaceHolder .openNav:focus-visible svg {
	fill: var(--selected);
	outline: 2px solid var(--selected);
	outline-offset: 4px;
}

.betterHeader .navBar ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0;
	list-style: none;
	height: 100%;
	margin: 0;
	position: relative;
	background-color: var(--primary);
	z-index: 3;
}

.betterHeader .navBar[data-expanded="true"] .spaceHolder .openNav {
	visibility: hidden;
}

.betterHeader .navBar[data-expanded="false"] .spaceHolder .openNav {
	visibility: visible;
}

.betterHeader .navBar[data-expanded="true"] ul {
	position: relative;
	opacity: 1 !important;
}

.betterHeader .navBar[data-expanded="false"] ul {
	position: absolute;
	top: 100%;
}

.betterHeader .navBar[data-expanded="false"] ul[data-open="false"] {
	display: none;
}

.betterHeader .navBar ul[data-open="true"] {
	opacity: 1;
	right: -1rem;
	width: 100vw;
	flex-wrap: wrap;
}

.betterHeader .navBar ul[data-open="false"] {
	opacity: 0;
}

.betterHeader .navBar ul {
	position: absolute;
}

.betterHeader .navBar ul li {
	white-space: nowrap;
	width: max-content;
	padding: 0rem 0.5rem;
}

.betterHeader .navBar ul li a {
	font-family: 'Mulish', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--secondary);
	border-radius: 10px;
	outline: 0px solid rgba(0, 0, 0, 0);
	outline-offset: -10px;
	transition: outline 0.3s ease-in-out, padding 0.3s ease-in-out, font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out, outline-offset 0.3s ease-in-out, color 0.3s ease-in-out;
}

.betterHeader .navBar ul li a:hover {
	color: var(--selected);
	font-size: larger;
	font-weight: bolder;
}

.betterHeader .navBar ul li a:focus-visible {
	color: var(--selected);
	font-size: larger;
	font-weight: bolder;
	outline: 2px solid var(--selected);
	outline-offset: 0px;
	padding: 0.5rem;
}

/* COLOR MODE */
#colorMode {
	position: fixed;
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--secondary);
	overflow: hidden;
	border: 2px solid var(--text);
	border-radius: 5px;
	bottom: 1rem;
	left: 1rem;
	z-index: 5;
	outline: 0px solid black;
	transition: transform 0.3s ease-in-out, outline 0.3s ease-in-out, outline-offset 0.3s ease-in-out;
	outline-offset: -10px;
}

#colorMode svg {
	position: absolute;
	width: 70%;
	height: 70%;
	left: 15%;
	top: 15%;
	fill: var(--text);
	background-color: transparent;
	transition: transform 0.3s ease-in-out;
}

:root[data-theme="light"] #colorMode #moonIcon {
	transform: translateY(3rem);
}

:root[data-theme="dark"] #colorMode #sunIcon {
	transform: translateY(3rem);
}

#colorMode:hover svg,
#colorMode:focus-visible svg {
	fill: var(--selected);
}

#colorMode:focus-visible {
	outline: 3px solid var(--selected);
	outline-offset: 3px;
}

/* SOUND MODE */
#soundMode {
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--secondary);
	overflow: hidden;
	border: 2px solid var(--text);
	border-radius: 5px;
	z-index: 5;
	outline: 0px solid black;
	transition: transform 0.3s ease-in-out, outline 0.3s ease-in-out, outline-offset 0.3s ease-in-out;
	outline-offset: -10px;
	top: 0;
}

#soundMode svg {
	position: absolute;
	width: 70%;
	height: 70%;
	left: 15%;
	top: 15%;
	fill: var(--text);
	background-color: transparent;
	transition: transform 0.3s ease-in-out;
}

:root[data-sound="on"] #soundMode #soundOff {
	transform: translateY(3rem);
}

:root[data-sound="off"] #soundMode #soundOn {
	transform: translateY(3rem);
}

#soundMode:hover svg,
#soundMode:focus-visible svg {
	fill: var(--selected);
}

#soundMode:focus-visible {
	outline: 3px solid var(--selected);
	outline-offset: 3px;
}

#soundModeButton {
	position: absolute;
	height: 1.5rem;
	width: 1.5rem;
	right: 1rem;
	z-index: 10;
	bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#soundModeButton input[type=range] {
	position: absolute;
	bottom: 6rem;
	height: 1.5rem;
	width: 10rem;
	z-index: 4;
	transform: rotate(-90deg);
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#soundModeButton:hover {
	height: 12rem;
	transform: translateY(0rem);
}

#soundModeButton:hover button{
	top: 10.5rem;
}
/* GAMEBOARD */

.gameboard {
	background: var(--bgColor);
	width: calc(100% - 5rem);
	height: calc(100% - 5rem);
	position: absolute;
	overflow: hidden;
	transition: filter 1s ease-in-out;
	border: 5px solid var(--obstacleColor);
	filter: blur(0px);
	background-size: var(--bgSize);
}


main[data-palette="1"] {
	--borderColor: var(--primary);
	--bgColor: #bdd5bd;
	--obstacleColor: #008000;
}

main[data-palette="2"] {
	--borderColor: var(--primary);
	--bgColor: #b2b9d0;
	--obstacleColor: #000480;
}

main[data-palette="3"] {
	--borderColor: var(--primary);
	--bgColor: #cdb2d0;
	--obstacleColor: #640080;
}

main[data-palette="4"] {
	--borderColor: var(--primary);
	--bgColor: radial-gradient(circle, rgba(120,125,48,1) 0%, rgba(244,255,97,1) 70%, rgba(120,125,48,1) 80%);
	--obstacleColor: #3f4405;
}

main[data-palette="5"] {
	--borderColor: var(--primary);
	--bgColor: linear-gradient(90deg, rgba(8,126,139,1) 0%, rgba(255,90,95,1) 25%, rgba(60,60,60,1) 50%, rgba(245,245,245,1) 75%, rgba(193,131,159,1) 100%);
	--obstacleColor: #eaff00;
}

main[data-palette="6"] {
	--borderColor: var(--primary);
	--bgColor: url('assets/checker.jpg');
	--bgSize: 100% 100%;
	--obstacleColor: #000000;
	--obstacleOpacity: 1;
}

.gameboard .target {
	width: 3rem;
	height: 3rem;
	position: absolute;
	background-size: 100%;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gameboard .target:hover {
	transform: scale(1.1);
	z-index: 3;
}

.target svg {
	position: absolute;
	width: 80%;
	height: 80%;
}

.target:hover svg {
	filter: drop-shadow(0px 0px 10px var(--selected));
}

.gameboard .obstacle {
	width: 2rem;
	height: 2rem;
	position: absolute;
	background: var(--obstacleColor);
	z-index: 2;
	opacity: var(--obstacleOpacity, 0.5);
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}

/* LEVEL SCREEN */

.levelScreen {
	width: calc(100% - 5rem);
	height: calc(100% - 5rem);
	position: absolute;
	z-index: 5;
	display: none;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.levelScreen .levelMenu {
	position: absolute;
	width: 70%;
	height: fit-content;
	background-color: var(--secondary);
	border: 2px solid var(--text);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	gap: 1rem;
	padding: 1rem;
}

.levelScreen .levelMenu h2 {
	font-size: 4vw;
	color: var(--text);
	margin: 0;
}

.levelScreen .levelMenu p {
	font-size: 3.5vw;
	margin: 0;
}

.levelScreen .levelMenu button {
	font-size: 3vw;
	border-radius: 15px;
	background-color: var(--primary);
	color: var(--secondary);
	border: 2px solid transparent;
	padding: 0.5rem;
	cursor: pointer;
	pointer-events: all;
	transition: all 0.3s ease-in-out;
	margin-bottom: 0.5rem;
}

.levelScreen .levelMenu button:hover,  .levelScreen .levelMenu button:focus-visible{
	outline: none;
	border: 2px solid var(--selected);

	background-color: var(--secondary);
	color: var(--primary);
}

.clickBlocker {
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: all;
}

/* MAIN MENU SCREEN */

.mainMenu {
	width: calc(100% - 5rem);
	height: calc(100% - 5rem);
	position: absolute;
	z-index: 5;
	display: none;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	isolation: isolate;
}

.mainMenu .mainLevelMenu {
	position: absolute;
	width: 70%;
	height: fit-content;
	background-color: var(--secondary);
	border: 2px solid var(--text);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	gap: 1rem;
	padding: 1rem;
}

.mainMenu .mainLevelMenu h2 {
	font-size: 4vw;
	color: var(--text);
	margin: 0;
}

.mainMenu .mainLevelMenu button {
	font-size: 3vw;
	border-radius: 15px;
	background-color: var(--primary);
	color: var(--secondary);
	border: 2px solid transparent;
	padding: 0.5rem;
	cursor: pointer;
	pointer-events: all;
	transition: all 0.3s ease-in-out;
	margin-bottom: 0.5rem;
}

.mainMenu .mainLevelMenu button:hover,  .mainMenu .mainLevelMenu button:focus-visible{
	outline: none;
	border: 2px solid var(--selected);

	background-color: var(--secondary);
	color: var(--primary);
}

/* INSTRUCTION SCREEN */

.instructionScreen {
	width: calc(100% - 5rem);
	height: calc(100% - 5rem);
	position: absolute;
	z-index: 5;
	display: none;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	isolation: isolate;
}

.instructionScreen .instructionMenu {
	position: absolute;
	width: 70%;
	height: fit-content;
	background-color: var(--secondary);
	border: 2px solid var(--text);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	gap: 1rem;
	padding: 1rem;
}

.instructionScreen .instructionMenu h2 {
	font-size: 4vw;
	color: var(--text);
	margin: 0;
}

.instructionScreen .instructionMenu p {
	font-size: 2.5vw;
	margin: 0;
}

.instructionScreen .instructionMenu button {
	font-size: 3vw;
	border-radius: 15px;
	background-color: var(--primary);
	color: var(--secondary);
	border: 2px solid transparent;
	padding: 0.5rem;
	cursor: pointer;
	pointer-events: all;
	transition: all 0.3s ease-in-out;
	margin-bottom: 0.5rem;
}

.instructionScreen .instructionMenu button:hover,  .instructionScreen .instructionMenu button:focus-visible{
	outline: none;
	border: 2px solid var(--selected);

	background-color: var(--secondary);
	color: var(--primary);
}

/* END SCREEN */

.endScreen {
	width: calc(100% - 5rem);
	height: calc(100% - 5rem);
	position: absolute;
	z-index: 5;
	display: none;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	isolation: isolate;
}

.endScreen .endMenu {
	position: absolute;
	width: 70%;
	height: fit-content;
	background-color: var(--secondary);
	border: 2px solid var(--text);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	gap: 1rem;
	padding: 1rem;
}

.endScreen .endMenu h2 {
	font-size: 4vw;
	color: var(--text);
	margin: 0;
}

.endScreen .endMenu p {
	font-size: 2.5vw;
	margin: 0;
}

.endScreen .endMenu button {
	font-size: 3vw;
	border-radius: 15px;
	background-color: var(--primary);
	color: var(--secondary);
	border: 2px solid transparent;
	padding: 0.5rem;
	cursor: pointer;
	pointer-events: all;
	transition: all 0.3s ease-in-out;
	margin-bottom: 0.5rem;
}

.endScreen .endMenu button:hover,  .endScreen .endMenu button:focus-visible{
	outline: none;
	border: 2px solid var(--selected);

	background-color: var(--secondary);
	color: var(--primary);
}

/* TIMER */
#timer {
	bottom: 0;
	margin-top: 5rem;
	height: calc(100% - 5rem);
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: end;
	position: relative;
	padding: 0.5rem;
	pointer-events: none;
}

/* OTHER */

#sealSVG {
	display: none;
}

/* TEXT CONTENT */

.aboutScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.aboutScreen .textContent {
    max-width: 90%;
    padding: 2rem;
    border-radius: 25px;
    border: 3px solid var(--text);
    width: fit-content;
}

.aboutScreen .textContent h1 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(5vmin, 1.5rem);
}

/* TEXT CONTENT */
.textContent {
	max-width: 90%;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.textContent h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: max(4vmin, 1.25rem);
	padding: 0.5rem;
	width: fit-content;
	margin: 1rem auto;
	text-align: center;
}

.textContent a {
	text-decoration: none;
	color: var(--accent);
	font-weight: bold;
    transition: transform 0.3s ease-in-out, outline 0.3s ease-in-out, outline-offset 0.3s ease-in-out, color 0.3s ease-in-out;
    outline: 0px solid black;
    border-radius: 5px
}

.textContent a:hover {
	color: var(--selected);
}

.textContent a:focus-visible {
    color: var(--selected);
    outline: 3px solid var(--selected);
    outline-offset: 2px;
}